{
  "plugins": [
    ["inline-json-import", {}],
    ["module-resolver", {
     "root": ["./src"],
     "alias": {
       "src": "./src",
       "secret": "./secret",
       "tags": "./src/tags",
       "model": "./src/model"
     }
   }]
  ]
}
